.item-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50; /* Color del título */
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2980b9; /* Color del título del ítem */
}

.item-description {
    font-size: 14px;
    margin-bottom: 10px;
    color: #7f8c8d; /* Color de la descripción */
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    color: #27ae60; /* Color del precio */
}